* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-color: #060AB2;
	display: flex;
}

.memory-game {
	width: 640px;
	height: 640px;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	perspective: 1000px;
}

.memory-card {
	position: relative;
	width: calc(25% - 12px);
	height: calc(33.33% - 12px);
	margin: 6px;
	transform-style: preserve-3d;
	transition: transform .5s;
}

.memory-card:active {
	transform: scale(.97);
	transition: transform .3s; 
}

.memory-card.flip {
	transform: rotateY(180deg);
}

.front-face, .back-face {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 20px;
	border-radius: 5px;
	background: #1C7CCC;
	backface-visibility: hidden;
}

.front-face {
	transform: rotateY(180deg);
}